body{
    margin: 0 auto;
}
* {
  box-sizing: border-box;
}

hr {
    width: 90%;
    
}

h2{
    text-align: center;
}

.address-title{
   margin: 0;
    padding: 0;
    text-align: center;
}
.contact-address{
    background-color: #3b2156
  text-align: center;
    margin-top: -1px;
}
.phone-contact{
    
}
.email-contact{
   margin-top: -3px; 
}

.address-container{
  width: 90vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.container{
    margin: 0 1rem 
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.footer{
margin-top: 1rem;
    
}

.link-and-review{
    background-color: #2e2c31;
    display: flex;
    flex-direction: row;
    

}
.footer-links-div{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    
    }
.footer-link{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    white-space: nowrap; 
    padding: 0.8rem
        
}
.reviews{
    flex-basis: 50%;
    
}
.partnership-holder{
    background-color: #fff;
    border-style:solid;
    border-width: 1px;
    border-bottom-left-radius: 10px;
    padding: 0.8rem;
    height: 6rem;
    text-align: center;
    }

.partnership-logo{
max-height: 3rem;
}

